*{
	padding: 0;
	margin: 0;
	list-style: none;
	box-sizing: border-box;
}
html{
	font-size: 12px;
}
.clearfix::after{
	content: '';
	display: inline-block;
	clear: both;
}
body{
	position: relative;
}
.container{
	position: relative;
	width: 414px;
	min-height:736px;
	margin:auto;
	border-radius: 1.5rem;
	box-shadow: 0 0 1rem rgba(102, 89, 89, 0.4), -0.3rem -0.3rem 1rem rgba(102, 89, 89, 0.4);
	box-sizing: border-box;
	overflow: hidden;
}
.container::before{
	/* content: ''; */
	display: block;
	background:rgba(18, 46, 142, 0.20);
	z-index: 1;
	position: absolute;
	top: 0;
	left:0;
	right: 0;
	bottom: 0;
}
header{
	position: relative;
	/* background-color:#00A8A1; */
	background: linear-gradient(135deg, #2a2626, #473939 50%, #151567);
	width:100%;
	height:63px;
	padding:0 15px;
	margin:0;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	border-bottom: 3px solid #693c3c;
	display: flex;
	justify-content: space-between;
	flex-flow: row nowrap;
	align-items: center;
	box-sizing: border-box;
}
header>span{
	display: inline-block;
	box-sizing: border-box;
}
.user{
  	display: block;
	cursor: pointer;
	height:3rem;
}

#avatar{
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	border: 1px solid rgb(73, 59, 59);
}

#logo{
	/* font-family: ; */
	font-weight: bold;
	font-size: 2rem;
	color: red;
	text-align: center;
	display: inline-block;
	height: 100%;
	line-height:4rem;
	height: 4rem;
	margin-left: 1rem;

}
nav{
	position: relative;
	/* left:0;
	right: 0;
	top: 0;
	bottom: 200px; */
	height: 50px;
	width: 100%;
	margin:0;
	padding:0;
	background: linear-gradient(135deg, #2a2626, #473939 50%, #151567);
	display: flex;
	justify-content: space-between;
	flex-flow: row nowrap;
	align-items: center;
}
.navbar{
	width: 100%;
	font-size:2rem;
	overflow: hidden;
	padding:0;
	margin: 0;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}
.narbar li{
	padding: 0;
}

#list-ct{
	position: relative;
	width: 70%;
	height: 50px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	display: inline-block;
	overflow: hidden;
	box-sizing: border-box;
}
#s-list{
 	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 3300px;
	margin:0;
	padding:0;
	color: #DBE7E6;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	animation: listmovetest 80s linear  infinite;
	/* overflow: scroll; */
	box-sizing: border-box;
}
#s-list>li{
	display: inline-block;
	font-size: 2rem;
	/* line-height: 30px; */
	/* height: 30px; */
	margin:0;
	margin-left:8px;
	padding:0;
	cursor: pointer;
	box-sizing: border-box;
}

@keyframes listmovetest{
	0%{
		left:100px;
	}
	50%{
		left: -3100px;
	}
	100%{
		left: 0100px;
	}
}
main{
	width: 100%;
	min-height: 612px;
	padding: 0;
	margin: 0;
	left:0;
	top:0;
	bottom: 0;
	/* position: absolute; */
	border: 1px dashed red;
}
#part1{
	position: relative;
	width: 100%;
	height: 628px;
	margin: 0;
	padding-top:10px;
	padding-left:10px;
	padding-right: 10px;
	padding-bottom: 10px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	border-radius: none;
	background: linear-gradient(135deg, #2a2626, #473939 50%, #151567);
}
#img-ct{
	margin: 0;
	padding: 0;
	width: 200px;
	height: 200px;
	position: relative;
}
#img-ct>a{
	position: absolute;
	top: 0;
	left:0;
	width: 200px;
	height: 200px;
	border:10px solid #5a4747;
	box-shadow: 1px 1px 1px rgba(145, 145, 175, 0.8), -1px -1px 1px rgba(145, 145, 175, 0.8);
	border-radius: 50%
}
#img-show{

	width: 180px;
	height: 180px;
	border-radius: 50%;
	animation: img-r 10s linear infinite;
}
#part2{
	display: none;
}


@keyframes img-r{
	0%{
		transform: rotateZ(0deg);
	}
	100%{
		transform: rotateZ(360deg);
	}
}

#play-ct{
	width: 65%;
	height: 100px;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.extra-btn-ct{
	width: 100%;
}

#perc{
	height: 0.5rem;
	width: 80%;
	margin:0.5rem 1rem;
	background:#00A8A1;
	border-radius: 0.2rem;
	color: #345332;
	font-size: 0.2rem;
	position: relative;
}
#perc::before{
	content:'0:21';
	position: absolute;
	left:-2.2rem;
	top:-0.4rem;
}
#perc::after{
	content:'4:22';
	position: absolute;
	right:-2.2rem;
	top:-0.4rem;
}
.lrcCt{
	position: absolute;
	left: 50%;
	top:50px;
	transform: translateX(-50%);
	width: 320px;
	height: 60px;
	font-size: 1.5rem;
	line-height: 60px;
	padding: auto 0;
	overflow: hidden;
	text-align: center;
	font-weight: bold;
	display: inline-block;
	color: #1261D2;

}

.play-wrap{
	height: 3rem;
	width: 100%;
}

/* 弹窗 */
.loginCt{
	position: absolute;
	left:-62%;
	top	: 0px;
	bottom: 0px;
	display: block;
	transition: all 0.3s;
	/* width: 0; */
	width: 60%;
	border-radius: .5rem;
	z-index: 2;
	background-color: rgba(15, 87, 119, 0.90);
	box-shadow: 2px 3px 7px rgba(17, 71, 179, 0.8);
}
.panel-ct{
	width: 100%;
	height: 100%;
	overflow: auto;
	padding: 5px;


}
.panel-ct>li{
	width: 100%;
	margin:5px 5px;
	font-size:1.4rem;
	font-weight: bold;
	line-height:2.5rem;
	border-bottom: 1px dashed #345332;
	text-align: left;
	display: block;
	color: #fff;
	cursor: pointer;
}


#musicList{
	position: absolute;
	bottom: -62%;
	right: 0px;
	left:0px;
	/* height: 180px; */
	height: 40%;
	z-index: 2;
	display: block;
	color: #fff;
	transition: all 0.3s;
	background:rgba(3, 74, 104, 0.90);;
	box-shadow: -2px -3px 7px rgba(14, 15, 45, 0.8);;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: .5rem;
	border-bottom-left-radius: 1.5rem;
	border-bottom-right-radius: 1.5rem;
}

@media (max-width:380px){
	.container{
		width: 370px;
		min-height:667px;
	}
	header{
		height: 80px;
	}
	.user{
		height:40px;
	}

	#avatar{
		width: 40px;
		height: 40px;
	}
	#logo{
		font-size: 2.5rem;
	}

	#img-ct{
		width: 190px;
		height:190px;
	}
	#img-ct>a{
		width: 190px;
		height:190px;
	}
	#img-show{
		width: 170px;
		height:170px;
	}
	#play-ct{
		width: 80%;
		height: 110px;
	}
	.icon-vol{
		font-size:2.8rem;

	}
	#part1{
		height: 520px;
		padding-top:15px;
		padding-left:10px;
		padding-right: 10px;
		padding-bottom: 20px;
	}
	.lrcCt{
		top:300px;
		width: 280px;
	}
}
@media (max-width: 320px) {
	.container{
		width: 320px;
		min-height: 568px;
	}
	header{
		height: 80px;
	}
	#img-ct{
		width: 180px;
		height:180px;
	}
	#img-ct>a{
		width: 180px;
		height:180px;
	}
	#img-show{
		width: 160px;
		height:160px;
	}

	#play-ct{
		width: 80%;
		height: 110px;
	}
	#part1{
		height: 434px;
		border-radius: 0 0 1.5rem 1.5rem;
	}
	.lrcCt{
		top:300px;
		width: 280px;
	}
}


/* 设置滚动条的样式 */
::-webkit-scrollbar {
	width:8px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset006pxrgba(0,0,0,0.3);
	border-radius:5px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
	border-radius:5px;
	background:rgba(212, 194, 194, 0.90);
	-webkit-box-shadow:inset006pxrgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background:rgba(74, 84, 75, 0.40);
}
